name: Auto update README

on:
  schedule:
    - cron: "0 */1 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Update timestamp
        run: |
          sed -i "s|<!-- LAST_UPDATED -->|Last updated: $(date)|" README.md

      - name: Commit changes
        run: |
          git config --global user.name "${{ secrets.GIT_USER_NAME }}"
          git config --global user.email "${{ secrets.GIT_USER_EMAIL }}"
          git add README.md
          git commit -m "auto: update profile README" || exit 0
          git push
